%h1
  Configurations controller, index action
%p
  Edit this file in
  %tt
    app/views/configurations/index.html.erb
%table
  %tr
  - for configuration in @configurations
    %tr
      %td
        = link_to 'Show', url(:configuration, configuration)
      %td
        = link_to 'Edit', url(:edit_configuration,  configuration)

= link_to 'New', url(:new_configuration)