%h1 Configurations controller, new action

%p 
  Edit this file in 
  %tt app/views/configurations/new.html.erb

= error_messages_for @configuration

= form_for(@configuration, :action => url(:configurations) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:configurations)