%h1 Configurations controller, new action

= error_messages_for @configuration

= form_for(@configuration, :action => url(:configurations) ) do
  %p
    = submit "Create"

= link_to 'Back', url(:configurations)