%h1
  Configurations controller, show action
%p
  Edit this file in
  %tt
    app/views/configurations/show.html.erb

= link_to 'Edit',  url(:edit_configuration,  @configuration)
|
= link_to 'Back', url(:configurations)