%h1
  Imports controller, index action
%p
  Edit this file in
  %tt
    app/views/imports/index.html.erb
%table
  %tr
  - for import in @imports
    %tr
      %td
        = link_to 'Show', url(:import, import)
      %td
        = link_to 'Edit', url(:edit_import,  import)

= link_to 'New', url(:new_import)