%tr 
  %th{ :colspan => "2"}   
    Bays
  %th
    = link_to 'add', '#', :class => 'addBays'
- @ship.bays.each do |bay|  
  %tr
    %td 
      %label 
        = bay.weapon.name.pluralize
      = bay.number
    %td.tonnage
      = bay.number * bay.size.to_i
      Tons
