%tr 
  %th{ :colspan => "3"}   
    Turrets
    %span.info 
      = "&ndash; Available Hardpoints: #{@ship.available_hardpoints}"

- @ship.turrets.each do |turret|  
  %tr
    %td 
      %label 
        = turret.weapon.name.pluralize
    %td
      = turret.number
