// #navigation
//   = link_to 'Show', url(:ship, @ship)
//   |
//   = link_to 'Index', url(:ships)

#info
  = form_for(@ship, :action => url(:ship, @ship)) do
    = partial :form
    %p.clear
      = submit "Update"

.clear