%h1
  Ships controller, index action

%table
  %tr
  - @ships.each do |ship|
    %tr
      %td
        = link_to ship.name, url(:ship, ship)
      %td
        = link_to 'edit', url(:edit_ship, ship)
        = link_to "delete", url(:delete_ship, ship), :class => 'delete', :method => 'delete'

= link_to 'New', url(:new_ship)